<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CapaVista.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ModeloContainer" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;&#xD;&#xA;&#xD;&#xA;provider connection string=&quot;&#xD;&#xA;Data Source=192.168.1.33;Initial Catalog=Etramulv2;User ID=admin;Password=123321;Pooling=False;MultipleActiveResultSets=True;&#xD;&#xA;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CapaVista.Properties.Settings.TransaccionDataSet"
      connectionString="Data Source=192.168.1.33;Initial Catalog=Etramulv2;User ID=admin;Password=123321;Pooling=False;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="CapaVista.Properties.Settings.DatasetsConexion" connectionString="Data Source=192.168.1.33;Initial Catalog=Etramulv2;User ID=admin;Password=123321;Pooling=False;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="CapaVista.Properties.Settings.Etramulv2ConnectionString"
      connectionString="Data Source=192.168.1.33;Initial Catalog=Etramulv2;User ID=admin;Password=123321;Pooling=False;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <CapaVista.Properties.Settings>
      <setting name="Manual" serializeAs="String">
        <value>C:/Manual/index.htm</value>
      </setting>
    </CapaVista.Properties.Settings>
  </userSettings>
</configuration>